{% extends "base.html" %}
{% block title %}about Us{% endblock title %}
{% block body %}
{% load static %}
<div>
    <div>
        <img src="https://static.vecteezy.com/system/resources/thumbnails/011/559/310/small_2x/about-us-word-with-wooden-cubes-photo.jpg"
        style="width: 100%; height: 400px;" alt="">
    </div>
    
    <div class="row py-5 justify-content-md-center" >
        
        <div class="col mx-5 mt-5">
           <h6><i>get to know at</i></h6>
           <h4 style="color: rgb(1, 67, 1);">welcome to ogenix food provider</h4>
           <p style="color: rgb(2, 124, 2);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda necessitatibus illum in illo, cum esse? Consectetur omnis ipsam modi debitis, blanditiis, quod magnam possimus doloremque sunt totam laborum, repellat error!</p>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt ratione tempora porro quasi aliquid iure quia? Laborum doloribus molestias a aperiam, inventore quas corporis sit sequi ducimus quam! Quia, dolore!</p>
            <div>
           <div class="row pt-3">
                <div class="col-6">
                   <h2> <i class="bi bi-1-square-fill " >local growth of fresh food</i></h2>                
                </div>
                <div class="col-6">
                   <h2> <i class="bi bi-2-square-fill " >healthy food everyday</i></h2>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
          <img src="https://img.freepik.com/premium-vector/grocery-store-logo-template-with-shopping-basket-food_884185-63.jpg?w=900" alt="" style="height: 500px; width: 500px;">
        </div>
    </div>
    <hr>
    <div class="py-5">
        <h6 class="text-center" style="color: rgb(2, 175, 2);"><i>Meet the farmers</i></h6>
        <h2 class="text-center" style="color: rgb(1, 97, 1);">awesome farmers team here to help you</h2>
        <div class="container text-center">
           <div class="row align-items-start py-5">
            <div class="col-4">
                <img src="https://tse4.mm.bing.net/th/id/OIP.XoXgw49eDXkyyKhspCWAwQHaHa?pid=Api&P=0&h=180" style="height: 200px; width: 200px; border-radius: 50%;" class="mb-5" alt="">
                <div style="height: 140px; width: 350px; background-color: green; color: white;">
                  <h3 class="py-2">kevin Martin</h3>
                  <p>SENDER FARMER</p>
                  <i class="bi bi-twitter mx-1"></i>
                  <i class="bi bi-facebook mx-1"></i>
                  <i class="bi bi-instagram mx-1"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="https://tse1.mm.bing.net/th/id/OIP.i-h_R_qJwqd5B1JF-0NEjwHaE8?pid=Api&P=0&h=180" style="height: 200px; width: 200px; border-radius: 50%;" class="mb-5" alt="">
                <div style="height: 140px; width: 350px; background-color: green; color: white;">
                  <h3 class="py-2">Aleesha Brown</h3>
                  <p>SENDER FARMER</p>
                  <i class="bi bi-twitter mx-1"></i>
                  <i class="bi bi-facebook mx-1"></i>
                  <i class="bi bi-instagram mx-1"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="https://wallpapers.com/images/hd/professional-profile-pictures-1080-x-1080-460wjhrkbwdcp1ig.jpg" style="height: 200px; width: 200px; border-radius: 50%;" class="mb-5" alt="">
                <div style="height: 140px; width: 350px; background-color: green; color: white;">
                  <h3 class="py-2">Mike Hardson</h3>
                  <p>SENDER FARMER</p>
                  <i class="bi bi-twitter mx-1"></i>
                  <i class="bi bi-facebook mx-1"></i>
                  <i class="bi bi-instagram mx-1"></i>
                </div>
            </div>
            
           </div>    
        </div>

    </div>
</div>
{% endblock body %}