{% extends "base.html" %}
{% block title %}dairy and bakery{% endblock title %}
{% block body %}
{% load static %}
<div>
    <div><h2 class="text-center py-3 fw-bold text-decoration-underline">Dairy and Bakery</h2></div>
    <div>
      <div class="container text-center ">
        <div class="row align-items-start "  style="display: grid;grid-template-columns: repeat(3,1fr); gap: 20px; ">
         {% for product in products %}
          <div class="product" style="padding: 10px; text-align: center;"> 
          <div class="py-5">
            <div>
              <div><a href=""><img class="shadow" src="{{product.image.url}}" alt="" style="height: 200px; width: 250px;"></div></a>
              <div class="py-3">
                <span class="fw-bold">{{product.name}}</span><br>
                <span>{{product.price}} Rupees</span><br>
                <span ><button class="wishlist btn btn-danger-fill shadow" onClick="addToWishlist({{product.id}})" style="margin-right: 10px;"> <i class="bi bi-heart"></i></button>
                  <button onClick="addToCart({{product.id}})" data-id="{{product.id}}" data-name="{{product.name}}" data-price="{{product.price}}" type="button" class=" cart btn btn-primary mt-2">Add to cart</button></span>
                 
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
       </div>
     </div>
   </div>
</div>
<script>
  const addToCartURL="{% url 'cart' %}"
</script>
<script src= {% static "js/app.js" %}></script>
{% endblock body %}


